body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image2.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}
.fa-regular fa-coments-dollar :{
    font-size: 100px
}

h1 {
    color: #05a;
    text-align: center;
    margin-top: 20px;
    -webkit-text-stroke: 1px #99CCCC;
}

#termsPage, #registrationPage, #genrePage {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registration-text {
    color: #000000;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s,transform 0.2s;
}
button:hover {
    background-color: #0056b3;
       transform: scale(1.05);
}
button:disabled {
    background-color: #ccc;
}

#genreListPage ul {
    list-style-type: none;
    padding: 0;
}

#genreListPage li {
    margin: 10px 0;
}
.genreButton {
    padding: 20px 30px; /* 余白をさらに大きく */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 24px; /* さらに大きな文字サイズ */
    line-height: 1.5; /* 行の高さを調整 */
    min-width: 200px; /* ボタンの最小幅を設定 */
    cursor: pointer;
    text-align: center;
}

#postForm textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#postHistory ul {
    list-style-type: none;
    padding: 0;
}

#postHistory li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 4px;
}
.in{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none; 
    color: #333;
    background-color: #f0f0f0;
    font-size: 16px; 
    transition: background-color 0.3s;
}
.up {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    font-size: 16px;
    transition: background-color 0.3s;
}

.in {
    border-color: #007bff;
}
.up {
    border-color: #28a745;
}
.login-header {
    text-align: center;
    margin-bottom: 20px;
}
.login-image {
    width: 600px;
    height: auto;
}
#genreListPage {
display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}
#genreList{
     display: flex;
    flex-direction: column;
    align-items: center;
}
 #genreList label {
       width: 200px;
    text-align: center;
    margin: 5px 0;
 }   
  
#backButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
     transition: background-color 0.3s,transform 0.2s;
}

#backButton:hover {
    background-color: #0056b3;
}

.map-container {
    width: 100%;
    max-width: 600px;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 0 auto;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
